/* variables */
/* line 6, ../sass/custom.scss */
html {
  height: 100%;
}

/* line 10, ../sass/custom.scss */
.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 19, ../sass/custom.scss */
.tab_parent {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 23, ../sass/custom.scss */
.tab_parent .tab_child {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 37, ../sass/custom.scss */
#page-1 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #375d81), color-stop(100%, #4677a5));
  background: -webkit-linear-gradient(top, #375d81, #4677a5);
  background: -moz-linear-gradient(top, #375d81, #4677a5);
  background: -o-linear-gradient(top, #375d81, #4677a5);
  background: linear-gradient(top, #375d81, #4677a5);
}

/* line 37, ../sass/custom.scss */
#page-2 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4677a5), color-stop(100%, #6290bc));
  background: -webkit-linear-gradient(top, #4677a5, #6290bc);
  background: -moz-linear-gradient(top, #4677a5, #6290bc);
  background: -o-linear-gradient(top, #4677a5, #6290bc);
  background: linear-gradient(top, #4677a5, #6290bc);
}

/* line 37, ../sass/custom.scss */
#page-3 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6290bc), color-stop(100%, #86a9cb));
  background: -webkit-linear-gradient(top, #6290bc, #86a9cb);
  background: -moz-linear-gradient(top, #6290bc, #86a9cb);
  background: -o-linear-gradient(top, #6290bc, #86a9cb);
  background: linear-gradient(top, #6290bc, #86a9cb);
}
