/* variables */
/* line 10, ../sass/custom.scss */
html {
  height: 100%;
}

/* line 14, ../sass/custom.scss */
.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}
/* line 20, ../sass/custom.scss */
.wrapper .tab_parent {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 24, ../sass/custom.scss */
.wrapper .tab_parent .tab_child {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/custom.scss */
.wrapper.dark-font {
  color: black;
}
/* line 35, ../sass/custom.scss */
.wrapper h1.big {
  font-size: 60px;
  text-shadow: rgba(255, 255, 0, 0.3) 2px 2px 0;
}
/* line 40, ../sass/custom.scss */
.wrapper p {
  font-size: 20px;
}
/* line 44, ../sass/custom.scss */
.wrapper a {
  color: #cccc00;
}
/* line 48, ../sass/custom.scss */
.wrapper a:hover, .wrapper a:focus {
  color: #999900;
}
/* line 52, ../sass/custom.scss */
.wrapper .jumbotron {
  color: black;
}
/* line 54, ../sass/custom.scss */
.wrapper .jumbotron p {
  font-size: 14px;
}
/* line 56, ../sass/custom.scss */
.wrapper .jumbotron p.question {
  font-weight: bold;
}
/* line 60, ../sass/custom.scss */
.wrapper .jumbotron div.indent {
  padding-left: 30px;
}
/* line 63, ../sass/custom.scss */
.wrapper .jumbotron a.example-link {
  color: mediumblue;
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-1 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #040b13), color-stop(100%, #06101b));
  background: -webkit-linear-gradient(top, #040b13, #06101b);
  background: -moz-linear-gradient(top, #040b13, #06101b);
  background: -o-linear-gradient(top, #040b13, #06101b);
  background: linear-gradient(top, #040b13, #06101b);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-2 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #06101b), color-stop(100%, #081524));
  background: -webkit-linear-gradient(top, #06101b, #081524);
  background: -moz-linear-gradient(top, #06101b, #081524);
  background: -o-linear-gradient(top, #06101b, #081524);
  background: linear-gradient(top, #06101b, #081524);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-3 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #081524), color-stop(100%, #091a2c));
  background: -webkit-linear-gradient(top, #081524, #091a2c);
  background: -moz-linear-gradient(top, #081524, #091a2c);
  background: -o-linear-gradient(top, #081524, #091a2c);
  background: linear-gradient(top, #081524, #091a2c);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-4 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #091a2c), color-stop(100%, #0b1f35));
  background: -webkit-linear-gradient(top, #091a2c, #0b1f35);
  background: -moz-linear-gradient(top, #091a2c, #0b1f35);
  background: -o-linear-gradient(top, #091a2c, #0b1f35);
  background: linear-gradient(top, #091a2c, #0b1f35);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-5 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b1f35), color-stop(100%, #0d233d));
  background: -webkit-linear-gradient(top, #0b1f35, #0d233d);
  background: -moz-linear-gradient(top, #0b1f35, #0d233d);
  background: -o-linear-gradient(top, #0b1f35, #0d233d);
  background: linear-gradient(top, #0b1f35, #0d233d);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-6 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d233d), color-stop(100%, #0f2846));
  background: -webkit-linear-gradient(top, #0d233d, #0f2846);
  background: -moz-linear-gradient(top, #0d233d, #0f2846);
  background: -o-linear-gradient(top, #0d233d, #0f2846);
  background: linear-gradient(top, #0d233d, #0f2846);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-7 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f2846), color-stop(100%, #102d4e));
  background: -webkit-linear-gradient(top, #0f2846, #102d4e);
  background: -moz-linear-gradient(top, #0f2846, #102d4e);
  background: -o-linear-gradient(top, #0f2846, #102d4e);
  background: linear-gradient(top, #0f2846, #102d4e);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-8 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #102d4e), color-stop(100%, #123256));
  background: -webkit-linear-gradient(top, #102d4e, #123256);
  background: -moz-linear-gradient(top, #102d4e, #123256);
  background: -o-linear-gradient(top, #102d4e, #123256);
  background: linear-gradient(top, #102d4e, #123256);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-9 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #123256), color-stop(100%, #14375f));
  background: -webkit-linear-gradient(top, #123256, #14375f);
  background: -moz-linear-gradient(top, #123256, #14375f);
  background: -o-linear-gradient(top, #123256, #14375f);
  background: linear-gradient(top, #123256, #14375f);
}

/* line 22, ../sass/.mixin-waterfall.scss */
#page-10 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #14375f), color-stop(100%, #163c67));
  background: -webkit-linear-gradient(top, #14375f, #163c67);
  background: -moz-linear-gradient(top, #14375f, #163c67);
  background: -o-linear-gradient(top, #14375f, #163c67);
  background: linear-gradient(top, #14375f, #163c67);
}
