/* variables */
/* line 10, ../sass/custom.scss */
html {
  height: 100%;
}

/* line 14, ../sass/custom.scss */
.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}

/* line 22, ../sass/custom.scss */
.tab_parent {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 26, ../sass/custom.scss */
.tab_parent .tab_child {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 34, ../sass/custom.scss */
h1.big {
  font-size: 60px;
  text-shadow: rgba(255, 255, 0, 0.3) 2px 2px 0;
}

/* line 39, ../sass/custom.scss */
p {
  font-size: 20px;
}

/* line 43, ../sass/custom.scss */
a {
  color: #cccc00;
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-1 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #040b13), color-stop(100%, #0d233d));
  background: -webkit-linear-gradient(top, #040b13, #0d233d);
  background: -moz-linear-gradient(top, #040b13, #0d233d);
  background: -o-linear-gradient(top, #040b13, #0d233d);
  background: linear-gradient(top, #040b13, #0d233d);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-2 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d233d), color-stop(100%, #163c67));
  background: -webkit-linear-gradient(top, #0d233d, #163c67);
  background: -moz-linear-gradient(top, #0d233d, #163c67);
  background: -o-linear-gradient(top, #0d233d, #163c67);
  background: linear-gradient(top, #0d233d, #163c67);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-3 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #163c67), color-stop(100%, #1f5491));
  background: -webkit-linear-gradient(top, #163c67, #1f5491);
  background: -moz-linear-gradient(top, #163c67, #1f5491);
  background: -o-linear-gradient(top, #163c67, #1f5491);
  background: linear-gradient(top, #163c67, #1f5491);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-4 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f5491), color-stop(100%, #276dbc));
  background: -webkit-linear-gradient(top, #1f5491, #276dbc);
  background: -moz-linear-gradient(top, #1f5491, #276dbc);
  background: -o-linear-gradient(top, #1f5491, #276dbc);
  background: linear-gradient(top, #1f5491, #276dbc);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-5 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #276dbc), color-stop(100%, #3f86d7));
  background: -webkit-linear-gradient(top, #276dbc, #3f86d7);
  background: -moz-linear-gradient(top, #276dbc, #3f86d7);
  background: -o-linear-gradient(top, #276dbc, #3f86d7);
  background: linear-gradient(top, #276dbc, #3f86d7);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-6 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f86d7), color-stop(100%, #69a1e0));
  background: -webkit-linear-gradient(top, #3f86d7, #69a1e0);
  background: -moz-linear-gradient(top, #3f86d7, #69a1e0);
  background: -o-linear-gradient(top, #3f86d7, #69a1e0);
  background: linear-gradient(top, #3f86d7, #69a1e0);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-7 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #69a1e0), color-stop(100%, #94bbe8));
  background: -webkit-linear-gradient(top, #69a1e0, #94bbe8);
  background: -moz-linear-gradient(top, #69a1e0, #94bbe8);
  background: -o-linear-gradient(top, #69a1e0, #94bbe8);
  background: linear-gradient(top, #69a1e0, #94bbe8);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-8 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94bbe8), color-stop(100%, #bed6f1));
  background: -webkit-linear-gradient(top, #94bbe8, #bed6f1);
  background: -moz-linear-gradient(top, #94bbe8, #bed6f1);
  background: -o-linear-gradient(top, #94bbe8, #bed6f1);
  background: linear-gradient(top, #94bbe8, #bed6f1);
}

/* line 21, ../sass/.mixin-waterfall.scss */
#page-9 {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bed6f1), color-stop(100%, #e8f0fa));
  background: -webkit-linear-gradient(top, #bed6f1, #e8f0fa);
  background: -moz-linear-gradient(top, #bed6f1, #e8f0fa);
  background: -o-linear-gradient(top, #bed6f1, #e8f0fa);
  background: linear-gradient(top, #bed6f1, #e8f0fa);
}
