@import "compass/css3/images";

/* variables */
$blue: #375D81;

html {
  height: 100%;
}

.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

//mixin - ilosc stepow, poczatkowy kolor, tryb (darken/lighten), step co ile ma sie zmniejszac

.tab_parent {
  display: table;
  width: 100%;
  height: 100%;
  .tab_child {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

@mixin fall-down ($times: 3, $start_color: #000, $type: "lighten", $color_step: 10%){
  $old_color:$blue;
  $new_color:lighten($blue, 10%);

  @for $i from 1 through $times {
    #page-#{$i}
    {

      @include background(linear-gradient(top, $old_color, $new_color));
    }
    $old_color:$new_color;
    $new_color:lighten($old_color, 10%);
  }
}


@include fall-down();
