@import "compass/css3/images";
@import ".mixin-waterfall";

/* variables */
$blue: #375D82;

html {
  height: 100%;
}

.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


//@include fall-down(6,$blue,"lighten",20%);
$steps: 9;
@include fall-down($steps,$blue,"lighten",step-helper($steps));
