@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import ".mixin-waterfall";

/* variables */
$blue: #051726;
$yellow: yellow;
$blue: #040B13;

html {
  height: 100%;
}

.wrapper {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}

.tab_parent {
  display: table;
  width: 100%;
  height: 100%;
  .tab_child {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

h1.big {
  font-size: 60px;
  @include text-shadow(rgba($yellow, 0.3) 2px 2px 0);
}

p {
  font-size: 20px;
}

a {
   color: darken($yellow,10%);
 }

a:hover, a:focus {
  color: darken($yellow,20%);
}

.jumbotron {
  color: black;
  p {
    font-size: 14px;
    &.question {
      font-weight: bold;
    }
  }
  div.indent {
    padding-left: 30px;
  }
}




$steps: 10;
//@include fall-down("page",$steps,$blue,"lighten",10%);
@include fall-down("page",$steps,$blue,"lighten",step-helper(20));
